In [1]:
# Importar las librerías a utilizar
import pandas as pd
import seaborn as sns
sns.set_style("whitegrid")
sns.set_context("notebook", font_scale=1, rc={"lines.linewidth": 2,'font.family': [u'times']})

import matplotlib.pylab as plt
import numpy as np

Matplotlib is building the font cache; this may take a moment.

In [62]:
# Leer los datos a analizar
csmk = pd.read_csv("Child Smokers.csv", na_values = ' ')
print('shape: ', csmk.shape)
csmk = csmk.replace('non', 0)
csmk = csmk.replace('smoker', 1)
csmk = csmk.replace('female', 0)
csmk = csmk.replace('male', 1)
csmk
#para vizualizar mejor smoker y sex se cambian a valores numericos, 1 para si fuma 0 para no,
#igual con sex 0 para female y 1 para male

shape:  (654, 5)

     Age (years)  Height (cm)  FEV (litres)  Sex  Smoker
0              9          145         1.708    0       0
1              8          171         1.724    0       0
2              7          138         1.720    0       0
3              9          135         1.558    1       0
4              9          145         1.895    1       0
..           ...          ...           ...  ...     ...
649           15          152         2.278    0       1
650           16          183         4.872    1       1
651           16          170         4.270    1       1
652           15          173         3.727    1       1
653           16          160         2.795    0       1

[654 rows x 5 columns]

In [63]:
csmk.mean()

Age (years)       9.931193
Height (cm)     155.298165
FEV (litres)      2.636780
Sex               0.513761
Smoker            0.099388
dtype: float64

In [64]:
csmk.median()

Age (years)      10.0000
Height (cm)     156.0000
FEV (litres)      2.5475
Sex               1.0000
Smoker            0.0000
dtype: float64

In [65]:
csmk.std()

Age (years)      2.953935
Height (cm)     14.471647
FEV (litres)     0.867059
Sex              0.500193
Smoker           0.299412
dtype: float64

In [66]:
csmk.max()

Age (years)      19.000
Height (cm)     188.000
FEV (litres)      5.793
Sex               1.000
Smoker            1.000
dtype: float64

In [67]:
csmk.min()

Age (years)       3.000
Height (cm)     117.000
FEV (litres)      0.791
Sex               0.000
Smoker            0.000
dtype: float64